@import "bar_base.scss";

html {
    body {
    	.content {
    		text-align:center;
            color: #579EDE;
            font-weight: bold;

    		button {
    			margin: auto;
    			color: #ffffff;
    			border: none;
    			border-radius: 25px;
    			width: 250px;
    			height: 40px;
    			margin-top: 20px;
    			background-color: #579EDE;
    		}

            .row {
                min-height: 300px;

                [class*=col-] {
                    min-height: 300px;
                }
            }

            .nav-tabs {
                position: fixed;
                bottom: 50px;
                width: 100vw;
            }

            .nav-tabs>li {
                a {
                    color: #ffffff;
                }
                padding: 0px;
            }

            .nav-tabs>li.active {
                background-color: #ffffff;
                border-top: 1px solid lightgray;
                a {
                    color: #579EDE;
                    border: none;
                }
            }
    	}
    }
}