@import "bar_base.scss";

html {
    body {
    	.content {
    		text-align:center;

            .details {
                text-align: left;
                font-weight: $font_weight_big;
                font-size: $font_size_big;

                @media (max-width: 767px) {
                    font-size: $font_size_big_mobile;
                }

                .row {
                    min-height: 60px;
                    margin-bottom: 15px;
                }

                .row-title {
                    color: #5A9DE6;
                }

                .rating {
                    unicode-bidi: bidi-override;
                    direction: ltr;

                    span {
                        display: inline-block;
                        position: relative;
                        width: 1.1em;
                    }

                    span.selected:before {
                        content: "\2605";
                        position: absolute;
                    }
                }
            }
    	}
    }
}