@import "partials/_images.scss";
@import "partials/_standards.scss";
@import "partials/_constants.scss";

.barone {
	background-color: #579EDE;
	height: 50px;
	width: 100vw;
	text-align: center;
	margin: 0px;

	.container {
		height: 100%;

		.row {
			height: 100%;

			[class*=col-] {
				height: 100%;
				.logo {
					margin:auto;
					vertical-align: middle;
					font-size: 25px;
    				line-height: 100%;
    				font-weight: bold;
    				@media (max-width: 767px) {
                        font-size: 14px;
                    }
				}
			}			
		}
	}
}

.bartwo {
    background-color: #6BAFEB;
    height: 50px;
    width: 100%;
    font-weight: 900;
}

.barone, .bartwo {
    text-align: center;
    color: #ffffff;
    line-height: 50px;

    a {
    	color: #ffffff;
    }
}

.barthree {
	background-color: #424242;
	height: 50px;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
	
	img {
		margin: auto;
		max-height: 100%;

		@media (max-width: 767px) {
			width: 80%;
		}
	}

	.container-fluid, .row {
		height: 100%;

		[class*=col-] {
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
	}
}

.content {
	margin:auto;
	margin-bottom: 100px;
	margin-top: 50px;
	-webkit-overflow-scrolling : touch;
}