@import "partials/_images.scss";
@import "partials/_standards.scss";
@import "partials/_constants.scss";

.barone {
	background-color: #579EDE;
	height: 50px;
	width: 100vw;
	text-align: center;
	margin: 0px;

	.logo {
		margin:auto;
		vertical-align: middle;
	}
}

.bartwo {
    background-color: #6BAFEB;
    height: 50px;
    width: 100%;
    font-weight: 900;
}

.barone, .bartwo {
    text-align: center;
    color: #ffffff;
    line-height: 50px;

    a {
    	color: #ffffff;
    }
}

.barthree {
	background-color: #424242;
	height: 50px;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0px;
	
	img {
		margin: auto;
		max-height: 100%;

		@media (max-width: 767px) {
			width: 80%;
		}
	}

	.container-fluid, .row {
		height: 100%;

		[class*=col-] {
            height: 100%;
        }
	}
}

.content {
	margin:auto;
	margin-bottom: 100px;
	margin-top: 50px;
	-webkit-overflow-scrolling : touch;
}