@import "appliances.scss";

html {
    body {
    	.content {

            margin-top: 50px;

    		.row {
                min-height: 50px;

                [class*=col-] {
                    min-height: 50px;
                }

                button {
                    margin-top: 20px;
                }
            }
    	}
    }
}