@import "partials/_images.scss";
@import "partials/_standards.scss";
@import "partials/_constants.scss";

html {
    body {
    	background: #ffffff;
    	text-align: center;

        .title {
            font-size: $login_logo_font_size;
        }

        .vertical-middle {
            height: 100vh;
            position: relative;
            @media (max-width: 767px) {
                height: 80vh;
            }
        }

        .top-align {
            top: 15%;
            position: absolute;
            width: 100%;
            font-size: $font_size_big;
            color: $font_color_logo;
            font-weight: $font_weight_medium;

            img {
                max-width: 100px;
                max-height: 100px;
            }

            @media (max-width: 767px) {
                font-size: $font_size_big_mobile;
            }
        }

        .bottom-align {
            bottom: 15%;
            position: absolute;
            width: 100%;

            .detail-box {
                border: none;
                border-radius: 25px;
                height: 40px;
                margin-top: 20px;
                background-color: #EDF3FA;
                text-align: left;
                width: $button_width;
                margin: auto;

                input {
                    display: block;
                    background-color: transparent;
                    border: none;
                    width: $button_width;
                    text-align: center;
                    height: 100%;
                    line-height: 100%;
                    margin: auto;
                }
            }

            button {
                margin-top: 30px;
            }
        }
    }
}