@import "partials/_images.scss";
@import "partials/_standards.scss";
@import "partials/_constants.scss";

html {
    body {
    	background: #ffffff;
    	text-align: center;
        color: #579EDE;
        font-size: 40px;
        font-weight: bold;

        .login {
        }

        .img-helper {
            height: 100vh;
        }

        .vertical-middle {
            height: 100vh;
            position: relative;
        }

        .top-align {
            top: 15%;
            position: absolute;
            width: 100%;

            img {
                max-width: 35%;
            }
        }

        .bottom-align {
            bottom: 10%;
            position: absolute;
            width: 100%;

            select {
                max-width: 100%;
            }
        }
    }
}