@import "partials/_images.scss";
@import "partials/_standards.scss";
@import "partials/_constants.scss";

html {
    body {
    	background: #ffffff;
    	text-align: center;
        color: #579EDE;
        font-weight: bold;

        .vertical-middle {
            height: 100vh;
            position: relative;
        }

        .top-align {
            top: 15%;
            position: absolute;
            width: 100%;
            font-size: 40px;

            img {
                max-width: 100px;
                max-height: 100px;
            }
        }

        .bottom-align {
            bottom: 10%;
            position: absolute;
            width: 100%;

            .detail-box {
                border: none;
                border-radius: 25px;
                height: 40px;
                background-color: #579EDE;
                color: #ffffff;

                select {
                    background-color: transparent;
                    border: none;
                    max-width: 90%;
                    max-height: 100%;
                    text-align: center;
                }
            }
        }
    }
}