@import "bar_base.scss";

html {
    body {
    	.content {
    		text-align:center;
            color: #579EDE;
            font-weight: $font_weight_normal;

            input[type="date"]::-webkit-inner-spin-button {
                display: none;
                -webkit-appearance: none;
            }

            .detail-box {
                border: none;
                border-radius: 25px;
                height: 60px;
                margin-bottom: 20px;
                background-color: #EDF3FA;
                text-align: left;

                span {
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                    width: 20px;
                }

                img {
                    height: 30px;
                    width: 30px;
                    vertical-align: middle;
                }

                input, select {
                    background-color: transparent;
                    border: none;
                    width: 85%;
                }
            }

            .priority {
                border: 1px solid #579EDE;
                border-radius: 25px;
                height: 40px;
                margin-top: 20px;
                background-color: #FFFFFF;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
            }

            .priority.selected {
                background-color: #579EDE;
                border: 1px solid #579EDE;
                color: #ffffff;
            }

            button {
                margin-top: 50px;
            }

            select.has-error:focus {
                outline-color: red;
            }
    	}
    }
}