@import "bar_base.scss";

html {
    body {
    	.content {
    		text-align:center;
            color: #579EDE;

            .panel-title {
                font-size: $font_size_small;
                font-weight: $font_weight_small;
                @media (max-width: 767px) {
                    font-size: $font_size_small_mobile;
                }
            }

            .workorder {
                color: #000000;
            }

            .new {
                outline: 2px solid lightgreen; 
            }

    		button {
                @media (max-width: 850px) {
                    height: 30px;
                }
                @media (max-width: 767px) {
                    height: 20px;
                    width: $button_width_small;
                }

                &.cancel {
                    background-color: red;
                }
    		}

            .row {
                margin-bottom: 30px;
            }

            .nav-tabs {
                position: fixed;
                bottom: 50px;
                width: 100vw;
            }

            .nav-tabs>li {
                a {
                    color: #ffffff;
                }
                padding: 0px;
            }

            .nav-tabs>li.active {
                background-color: #ffffff;
                border-top: 1px solid lightgray;
                a {
                    color: #579EDE;
                    border: none;
                }
            }
    	}
    }
}