{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/appliances.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<div class="bartwo">47 APPLIANCES</div>
<div class="content">
	<div class="tabbable tabs-below">
		<div class="tab-content">
			<div class="tab-pane active" id="starred">
				<div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<a href="/appliance_details">
			    			<img src="/assets/img/oven.png">
			    			<p>Oven 1</p>
			    		</a>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 1</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 3</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 4</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 3</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 1</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 3</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 4</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 3</p>
			    	</div>
			    </div>
			</div>
			<div class="tab-pane" id="newest">
				<div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 1</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 3</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 4</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 3</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 1</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 3</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 4</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 3</p>
			    	</div>
			    </div>
			</div>
			<div class="tab-pane" id="oldest">
				<div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 1</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 3</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 4</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 3</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven.png">
			    		<p>Oven 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 1</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 3</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac.png">
			    		<p>HVAC 4</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 1</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 2</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/mach.png">
			    		<p>FRYER 3</p>
			    	</div>
			    </div>
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="col-xs-4 active" style="background-color: #5A9DE6;"><a href="#starred" data-toggle="tab">Starred</a></li>
			<li class="col-xs-4" style="background-color: #488AD6;"><a href="#newest" data-toggle="tab">Newest</a></li>
			<li class="col-xs-4" style="background-color: #5A9DE6;"><a href="#oldest" data-toggle="tab">Oldest</a></li>
		</ul>
	</div>
</div>
{% endblock %}