{% extends "base.html" %}
{% block Styles %}
<link href="/assets/css/sass_out/appliance.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block Content %}
<div class="barone">
	<div style="left:49%;"><span class="img-helper"></span><img class="logo" src="/assets/img/logo.png"></div>
	<div style="left:90%;"><span style="float:right;">Columbia <img  style="float:right;" src="/assets/img/pic.png"></span></div>
</div>
<div class="bartwo">FRYER 1</div>
<div class="content">
    <table>
    	<tbody>
    		<tr>
    			<td class="row-title">MANUFACTURER</td><td>Frymaster</td>
    		</tr>
    		<tr>
    			<td class="row-title">MODEL</td><td>FM102</td>
    		</tr>
    		<tr>
    			<td class="row-title">SERIAL NUMBER</td><td>EGY674489GHTY76</td>
    		</tr>
    		<tr>
    			<td class="row-title">LAST REPAIR DATE</td><td>7/2/2015</td>
    		</tr>
    		<tr>
    			<td class="row-title">INSTALLED ON</td><td>6/1/2010</td>
    		</tr>
    		<tr>
    			<td class="row-title">WARRANTY</td><td>Expired 6/1/2013</td>
    		</tr>
    	</tbody>
    </table>
    <a href=""><button>Select Provider</button></a><br>
</div>
{% endblock %}