{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/appliances.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<div class="bartwo">47 APPLIANCES</div>
<div class="content">
	<div class="tabbable tabs-below">
		<div class="tab-content">
			<div class="tab-pane active" id="starred">
				{% for row in appliances.starred %}
					<div class="row">
						{% for appliance in row %}
				    	<div class="col-sm-4 col-xs-12">
				    		<a href="/appliance_details">
				    			<img src="/assets/img/oven.png">
				    			<p>{{appliance.name}}</p>
				    		</a>
				    	</div>
				    	{% endfor %}
				    </div>
				{% endfor %}
			</div> 
			<div class="tab-pane" id="newest">
				{% for appliance in appliances.newest %}
				
				{% endfor %}
			</div>
			<div class="tab-pane" id="oldest">
				{% for appliance in appliances.oldest %}
				
				{% endfor %}
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="col-xs-4 active" style="background-color: #5A9DE6;"><a href="#starred" data-toggle="tab">Starred</a></li>
			<li class="col-xs-4" style="background-color: #488AD6;"><a href="#newest" data-toggle="tab">Newest</a></li>
			<li class="col-xs-4" style="background-color: #5A9DE6;"><a href="#oldest" data-toggle="tab">Oldest</a></li>
		</ul>
	</div>
</div>
{% endblock %}