{% extends "base.html" %}
{% block Styles %}

{% endblock %}
{% block Content %}
<form role="form" action="/rest/create/appliance" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="location">Store:</label>
        <input type="text" class="form-control" id="store" name="store">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}