{% extends "base.html" %}
{% block Styles %}
<link href="/assets/css/sass_out/landing.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block Content %}
<div class="container">
	<div class="row">
		<div class="col-sm-2 col-xs-1"></div>
		<div class="col-sm-8 col-xs-10">
			<div class="vertical-middle">
				<div class="top-align">
					<p class="title">Genius</p>
					<img src="/assets/img/genius-logo-anim.gif">
				</div>
				<div class="bottom-align">
				    <form onsubmit="return login_user()">
				    	<div class="row">
				            <div class="col-xs-12">
				                <div class="detail-box">
				                    <input type="email" name="user" placeholder="User Email" required>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				            <div class="col-xs-12">
				                <button type="submit">Login</button>
				            </div>
				        </div>
				    </form>
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-xs-1"></div>
	</div>
</div>
{% endblock %}
{% block Scripts %}
<script>
	function login_user() {
		var email_id = $("input[name='user']").val();
		var params = {"email":email_id}
		$.post( "/rest/temp_login", params).done(function(data) {
			data = JSON.parse(data);
			window.location=data.url
		});
		return false;
	}
	function showFBLoginDialog() {
		FB.login(function(response) {
			if (response.status === 'connected') {
				startServerSession(response);
			}
			else {
				console.log(response);
			}
		}, {scope: 'public_profile,email'});
	}

	function fbLogin() {
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
				startServerSession(response);
			} else if (response.status === 'not_authorized') {
				showFBLoginDialog();
			} else {
				showFBLoginDialog();
			}
		});
	}

	function startServerSession(response) {
		var params = {"fb_id":response.authResponse.userID,"accessToken":response.authResponse.accessToken}
		$.post( "/rest/fb_login", params, function() {
			window.location="/appliance/list"
		})
	}

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1073004966052452',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}