{% extends "base.html" %}
{% block Styles %}
<link href="/assets/css/sass_out/landing.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block Content %}
<div>
	<img src="/assets/img/landing.png"><br>
	<select name="user" onchange="login_user($(this).val())" required>
		<option value="">Select User</option>
        {% for user in users %}
            <option value="{{user.email}}">{{user.display_string}}</option>
        {% endfor %}
    </select>
	<!--
	<button onclick="fbLogin()"><a href="#"><i class="fa fa-facebook fa-fw"></i>Connect via Facebook</a></button><br>
	-->
</div>
{% endblock %}
{% block Scripts %}
<script>
	function login_user(email_id) {
		var params = {"email":email_id}
		$.post( "/rest/temp_login", params, function() {
			window.location="/appliance/list"
		})
	}
	function showFBLoginDialog() {
		FB.login(function(response) {
			if (response.status === 'connected') {
				startServerSession(response);
			}
			else {
				console.log(response);
			}
		}, {scope: 'public_profile,email'});
	}

	function fbLogin() {
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
				startServerSession(response);
			} else if (response.status === 'not_authorized') {
				showFBLoginDialog();
			} else {
				showFBLoginDialog();
			}
		});
	}

	function startServerSession(response) {
		var params = {"fb_id":response.authResponse.userID,"accessToken":response.authResponse.accessToken}
		$.post( "/rest/fb_login", params, function() {
			window.location="/appliance/list"
		})
	}

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1073004966052452',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}