{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/appliances.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<div class="content" style="margin-top: 0px;">
	<div class="tabbable tabs-below">
		<div class="tab-content">
			<div class="tab-pane active" id="starred">
				{% include "components/provider_table.html" with items=providers %}
			</div> 
			<div class="tab-pane" id="oldest">
				{% include "components/map.html" with markers=markers %}
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="col-xs-6 active" style="background-color: #5A9DE6;"><a href="#starred" data-toggle="tab">Starred</a></li>
			<li class="col-xs-6" style="background-color: #5A9DE6;" onclick="initialize_map()"><a href="#oldest" data-toggle="tab">Map</a></li>
		</ul>
	</div>
</div>
{% endblock %}
