{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/appliances.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<div class="bartwo">9 PROVIDERS</div>
<div class="content">
	<div class="tabbable tabs-below">
		<div class="tab-content">
			<div class="tab-pane active" id="starred">
				<div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<a href="/provider_details">
			    			<img src="/assets/img/oven_service.png">
			    			<p>Acme Oven Services</p>
			    		</a>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/air_cond_service.png">
			    		<p>Coolair Air Conditioning</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac_service.png">
			    		<p>Chesapeake HVAC Services</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/vent_service.png">
			    		<p>O'Maly Ventilation Repairs</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven_service.png">
			    		<p>A1 Oven Services</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/garbage_service.png">
			    		<p>Clean City Garbage Services</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/air_cond_service.png">
			    		<p>Coolair2 Air Conditioning</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/fryer_service.png">
			    		<p>Deep Fryer Services</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven_service.png">
			    		<p>A2 Oven Services</p>
			    	</div>
			    </div>
			</div>
			<div class="tab-pane" id="newest">
				<div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven_service.png">
			    		<p>Acme Oven Services</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/air_cond_service.png">
			    		<p>Coolair Air Conditioning</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/hvac_service.png">
			    		<p>Chesapeake HVAC Services</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/vent_service.png">
			    		<p>O'Maly Ventilation Repairs</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven_service.png">
			    		<p>A1 Oven Services</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/garbage_service.png">
			    		<p>Clean City Garbage Services</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/air_cond_service.png">
			    		<p>Coolair2 Air Conditioning</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/fryer_service.png">
			    		<p>Deep Fryer Services</p>
			    	</div>
			    	<div class="col-sm-4 col-xs-12">
			    		<img src="/assets/img/oven_service.png">
			    		<p>A2 Oven Services</p>
			    	</div>
			    </div>
			</div>
			<div class="tab-pane" id="oldest">
				{% include "components/map.html" %}
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="col-xs-4 active" style="background-color: #5A9DE6;"><a href="#starred" data-toggle="tab">Starred</a></li>
			<li class="col-xs-4" style="background-color: #488AD6;"><a href="#newest" data-toggle="tab">List</a></li>
			<li class="col-xs-4" style="background-color: #5A9DE6;"><a href="#oldest" data-toggle="tab">Map</a></li>
		</ul>
	</div>
</div>
{% endblock %}
{% block BarScripts %}
<script type="text/javascript">
	$(document).ready(function(){
		google.maps.event.addDomListener(window, 'load', initialize_map);
	});
</script>
{% endblock %}