{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/appliance.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<div class="bartwo">{{store_name}} :: {{name}}</div>
<div class="content">
    <div class="details">
        <div class="container">
            {% for detail in details %}
                <div class="row">
                    <div class="col-xs-1 col-md-3"></div>
                    <div class="col-xs-10 col-md-6">
                        <div class="row">
                            <div class="col-xs-6 row-title">{{detail.0}}</div>
                            <div class="col-xs-6">
                                {% if forloop.counter == 6 %}
                                    <div class="rating">
                                        {% for i in ratings %}
                                            {% if i <= detail.1 %}
                                                <span class="selected">&#9734;</span>
                                            {% else %}
                                                <span>&#9734;</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{detail.1}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-3"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if appliance_id %}<a href="{{schedule_repair_url}}"><button>Schedule Repair</button></a><br>{% endif %}
</div>
{% endblock %}