{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/appliance.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<div class="bartwo">{{name}}</div>
<div class="content">
    <div class="details">
        <div class="container">
            {% for detail in details %}
                <div class="row">
                    <div class="col-xs-2 col-sm-3 col-md-4"></div>
                    <div class="col-xs-8 col-sm-6 col-md-4">
                        <div class="col-xs-5 row-title">{{detail.0}}</div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-5">
                            {% if forloop.counter == 6 %}
                                <div class="rating">
                                    {% for i in ratings %}
                                        {% if i <= detail.1 %}
                                            <span class="selected">&#9734;</span>
                                        {% else %}
                                            <span>&#9734;</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{detail.1}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-3 col-md-4"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{schedule_repair_url}}"><button>Schedule Repair</button></a><br>
</div>
{% endblock %}