{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/appliances.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<div class="bartwo">PROVIDE ESTIMATE</div>
<div class="content">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <form role="form" id="estimate-form">
                <div class="form-group">
                    <label for="rejection_remarks">Remarks:</label>
                    <input type="text" class="form-control" id="rejection_remarks" name="rejection_remarks">
                    <button id="reject-btn" onclick="reject_workorder();return false;" class="btn btn-default">Reject</button>
                </div>
                <div class="form-group">
                    <label for="estimate">Estimate:</label>
                    <input type="text" class="form-control" id="estimate" name="estimate">
                </div>
                <div class="form-group">
                    <label for="service_date">Service date:</label>
                    <input type="text" class="form-control" id="service_date" name="service_date">
                </div>
                <button id="estimate-btn" onclick="submit_estimate();return false;" class="btn btn-default">Accept</button>
            </form>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>
{% endblock %}
{% block BarScripts %}
<script>
    function submit_estimate() {
        console.log('In submit estimate')
        $.post("/rest/work_order/estimate", {'service_date':$('#service_date').val(),'estimate':$('#estimate').val(),'approval':'1','work_order':{{work_order}}}).done(function( data ) {
            data = JSON.parse(data);
            if(data.status == 'success') {
                alert('Thank you for the estimate, the store will be notified');
                window.location = '/'
            }
            else if(data.status == 'error') {
                alert(data.message);
            }
        });
    }
    function reject_workorder() {
        $.post("/rest/work_order/estimate", {'work_order':{{work_order}}, 'approval':'0', 'remarks':$('#rejection_remarks').val()}).done(function( data ) {
            data = JSON.parse(data);
            if(data.status == 'success') {
                alert('Too bad you could not accept this work order. The store will be notified!');
                window.location = '/'
            }
            else if(data.status == 'error') {
                alert(data.message);
            }
        });
    }
</script>
{% endblock%}