{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/estimate.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<div class="bartwo">PROVIDE ESTIMATE</div>
<div class="content">
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10">
            <form role="form row" id="estimate-form">
                <div class="col-md-6">
                    <label for="rejection_remarks">Provide remarks for rejecting the work-order:</label>
                    <input type="text" class="form-control" id="rejection_remarks" name="rejection_remarks">
                    <button id="reject-btn" onclick="reject_workorder();return false;">Reject</button>
                </div>
                <div class="col-md-6">
                    <label for="estimate">Provide an estimate for the work-order:</label>
                    <input type="text" class="form-control" id="estimate" name="estimate">
                    <button id="estimate-btn" onclick="submit_estimate();return false;">Accept</button>
                </div>
            </form>
        </div>
        <div class="col-md-2 col-xs-1"></div>
    </div>
</div>
{% endblock %}
{% block BarScripts %}
<script>
    function submit_estimate() {
        $.post("/rest/work_order/estimate", {'estimate':$('#estimate').val(),'approval':'1','work_order':{{work_order}}}).done(function( data ) {
            data = JSON.parse(data);
            if(data.status == 'success') {
                alert('Thank you for the estimate, the store will be notified');
            }
            else if(data.status == 'error') {
                alert(data.message);
            }
        });
    }
    function reject_workorder() {
        $.post("/rest/work_order/estimate", {'work_order':{{work_order}}, 'approval':'0', 'remarks':$('#rejection_remarks').val()}).done(function( data ) {
            data = JSON.parse(data);
            if(data.status == 'success') {
                alert('Too bad you could not accept this work order. The store will be notified!');
            }
            else if(data.status == 'error') {
                alert(data.message);
            }
        });
    }
</script>
{% endblock%}