{% extends "base.html" %}
{% block Styles %}

{% endblock %}
{% block Content %}
<form role="form" id="estimate-form">
    <div class="form-group">
        <label for="estimate">Estimate:</label>
        <input type="text" class="form-control" id="estimate" name="estimate">
    </div>
    <button onclick="submit_estimate();return false;" class="btn btn-default">Submit</button>
</form>

<script>
    function submit_estimate() {
    	var params="estimate:" + $('#estimate').val();
		$.get("/rest/work_order/update", {'params':params,'work_order':{{work_order}}}, function( data ) {
			alert( "Data Loaded: " + data );
		});
    }
</script>
{% endblock %}