{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/workorders.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<div class="bartwo">{{count}} WORK ORDERS</div>
<div class="content">
	<div class="tabbable tabs-below">
		<div class="tab-content">
			<div class="tab-pane active" id="all">
				<div class="row heading">
					<div class="col-sm-1"></div>
					<div class="col-xs-2">WO No.</div>
					<div class="col-xs-2">APPLIANCE</div>
					<div class="col-xs-2">PROVIDER</div>
					<div class="col-xs-3 col-sm-2">STATUS</div>
					<div class="col-xs-3 col-sm-2">ACTION</div>
					<div class="col-sm-1"></div>
				</div>
				{% for wo in workorders %}
					<div class="row workorder">
						<div class="col-sm-1"></div>
						<div class="col-xs-2">{{wo.0.id}}</div>
						<div class="col-xs-2">{{wo.0.appliance_obj.name}}</div>
						<div class="col-xs-2">{{wo.0.provider_obj.name}}</div>
						<div class="col-xs-3 col-sm-2">{{wo.0.curr_state}}</div>
						<div class="col-xs-3 col-sm-2">
							{% if wo.1 %}<a href="{{wo.1.1}}"><button>{{wo.1.0}}</button></a>{% endif %}
						</div>
						<div class="col-sm-1"></div>
					</div>
				{% endfor %}
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="col-xs-12 active" style="background-color: #5A9DE6;"><a href="#all" data-toggle="tab">All</a></li>
		</ul>
	</div>
</div>
{% endblock %}