{% extends "bar_base.html" %}
{% block BarStyles %}
<link href="/assets/css/sass_out/workorders.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block BarContent%}
<input type="hidden" id="active-wo" value="{{active_wo}}">
<input type="hidden" id="new-wo" value="{{new_wo}}">
<div class="bartwo">{{count}} WORK ORDERS</div>
<div class="content">
	<div class="tabbable tabs-below">
		<div class="tab-content">
			<div class="tab-pane active" id="all">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-1"></div>
            <div class="col-sm-6 col-xs-10">
              <div class="panel-group" id="accordion-outer" role="tablist" aria-multiselectable="true">
                {% for state, workorders in workorders_by_state.items %}
                  <div class="panel panel-default">
                    <div class="panel-heading heading" role="tab" id="state-heading-{{forloop.counter}}">
                      <a role="button" data-toggle="collapse" data-parent="#accordion-outer" href="#state-{{forloop.counter}}" aria-expanded="true" aria-controls="state-{{forloop.counter}}">
                      <h4 class="panel-title">
                        {{state}}
                      </h4>
                      </a>
                    </div>
                    <div id="state-{{forloop.counter}}" class="panel-collapse collapse workorder" role="tabpanel" aria-labelledby="state-heading-{{forloop.counter}}">
                      <div class="panel-body">
                        {% include "components/workorders_table.html" with workorders=workorders state=state %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-sm-3 col-xs-1"></div>
          </div>
        </div>
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="col-xs-12 active" style="background-color: #5A9DE6;"><a href="#all" data-toggle="tab">All</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block BarScripts %}
<script>
    $(document).ready(function(){
      var active_wo = $('#active-wo').val();
      if(active_wo) {
        $('#c'+active_wo).collapse('show');
        $('#c'+active_wo).parents('.collapse').collapse('show');
      }
      var new_wo = $('#new-wo').val();
      if(new_wo) {
        alert('Work Order Created Successfully! Work Order ID: '+new_wo);
        $('#'+new_wo).addClass('new');
        $('#c'+new_wo).collapse('show');
        $('#c'+new_wo).parents('.collapse').collapse('show');
      }
    });
    function submit_estimate(wo_id) {
        var params="estimate:" + $('#estimate'+wo_id).val();
        $(".spinner-container").show();
        $.post("/rest/work_order/update", {'params':params,'work_order':wo_id}).done(function( data ) {
            data = JSON.parse(data);
            if(data.status == 'success') {
              setTimeout(load_workorders(), 3000);
            } else {
              $(".spinner-container").hide();
            }
        });
    }

    function cancel_wo(wo_id) {
      $(".spinner-container").show();
      $.post("/rest/work_order/cancel", {'work_order':wo_id}).done(function( data ) {
            data = JSON.parse(data);
            if(data.status == 'success') {
              setTimeout(load_workorders(), 3000);
            } else {
              $(".spinner-container").hide();
            }
        });
    }

    function submit_notes(wo_id, args) {
        var params="notes:" + $('#notes'+wo_id).val();
        if(args) {
          params = params + ';' + args;
        }
        $(".spinner-container").show();
        $.post("/rest/work_order/update", {'params':params,'work_order':wo_id}).done(function( data ) {
            data = JSON.parse(data);
            if(data.status == 'success') {
              setTimeout(load_workorders(), 3000);
            } else {
              $(".spinner-container").hide();
            }
        });
    }

    function load_workorders() {
      window.location = window.location.origin + '/work_order/list';
    }
</script>
{% endblock%}