<div class="barthree">
	<div class="container-fluid">
		<div class="row">
			<a href="/appliance/list">
				<div class="col-xs-3" style="background-image:url('/assets/img/appliances.png');">	
				</div>
			</a>
			<a href="/provider/list">
				<div class="col-xs-3" style="background-image:url('/assets/img/providers.png');">	
				</div>
			</a>
			<a href="">
				<div class="col-xs-3" style="background-image:url('/assets/img/messages.png');">
				</div>
			</a>
			<a href="/work_order/list">
				<div class="col-xs-3" style="background-image:url('/assets/img/workorders.png');">
				</div>
			</a>
		</div>
	</div>
</div>