<div class="barthree">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3">
				<span class="img-helper"></span>
				<a href="/appliance/list"><img src="/assets/img/appliances.png"></a>
			</div>
			<div class="col-xs-3">
				<span class="img-helper"></span>
				<a href="/provider/list"><img src="/assets/img/providers.png"></a>
			</div>
			<div class="col-xs-3">
				<span class="img-helper"></span>
				<a href=""><img src="/assets/img/messages.png"></a>
			</div>
			<div class="col-xs-3">
				<span class="img-helper"></span>
				<a href="/work_order/list"><img src="/assets/img/workorders.png"></a>
			</div>
		</div>
	</div>
</div>