<div class="barone">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-5"></div>
			<div class="col-xs-4 col-sm-2"><span class="img-helper"></span><img class="logo" src="/assets/img/logo.png"></div>
			<div class="col-xs-4 col-sm-5" style="text-align:right;">
				<span class="img-helper"></span>
				<span class="hide-mobile">{{session.name}}</span>
				<!--
				<img src="{% if session.fb_id %}http://graph.facebook.com/{{session.fb_id}}/picture?type=square{% else %}/assets/img/pic.png{% endif %}">
				-->
				<!--
				<img src="/assets/img/pic.png">
				-->
			</div>
		</div>
	</div>
</div>