<div class="panel-group" id="accordion-{{state}}" role="tablist" aria-multiselectable="true">
    {% for wo in workorders %}
    <div class="panel panel-default">
      <div class="panel-heading heading" role="tab" id="{{wo.0.id}}">
        <a role="button" data-toggle="collapse" data-parent="#accordion-{{state}}" href="#c{{wo.0.id}}" aria-expanded="true" aria-controls="c{{wo.0.id}}">
        <h4 class="panel-title">
          xxxx{{ wo.0.id|stringformat:"d"|slice:"-4:" }}
        </h4>
        </a>
      </div>
      <div id="c{{wo.0.id}}" class="panel-collapse collapse workorder" role="tabpanel" aria-labelledby="{{wo.0.id}}">
        <div class="panel-body">
          <p>ID: {{ wo.0.display_id }}</p>
          <p>STORE: {{wo.0.appliance_obj.store.name}}</p>
          <p>APPLIANCE: {{wo.0.appliance_obj.name}}</p>
          <p>PROVIDER: {{wo.0.provider_obj.name}}</p>
          {% if wo.1 %}
            {% if wo.1.0.0 == 'ESTIMATE' %}
              <form role="form" id="estimate-form">
                <div class="form-group">
                    <label for="estimate">PROVIDE ESTIMATE:</label>
                    <input type="text" class="form-control" id="estimate{{wo.0.id}}" name="estimate">
                </div>
                <button onclick="submit_estimate({{wo.0.id}});return false;">{{wo.1.0.0}}</button>
              </form>
            {% else %}
              <form role="form">
                  <div class="form-group">
                      <label for="notes">NOTES:</label>
                      <input type="text" class="form-control" id="notes{{wo.0.id}}" name="notes">
                  </div>
                  {% for wo_choice in wo.1 %}
                  <button onclick="submit_notes('{{wo.0.id}}', '{{wo_choice.1}}');return false;">{{wo_choice.0}}</button><br><br>
                  {% endfor %}
              </form>
            {% endif %}
          {% endif %}
          {% if role != 'provider' and wo.0.curr_state != 'CANCELLED' and wo.0.curr_state != 'REJECTED' and wo.0.curr_state != 'COMPLETED' and wo.0.curr_state != 'DISAPPROVED' %}
            <form role="form">
              <button class="cancel" onclick="cancel_wo('{{wo.0.id}}');return false;">CANCEL</button><br><br>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>